*{
    margin: 0;
    padding: 0;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5547327;
}

/* .banner-text{
    line-height-step: 2px;
} */


.banner-text h3{
    font-size: 3.5em;
}

.banner-text p{
    margin-top: 15px;
    font-size:1em;
}

.btn{
    margin-top: 20px;
    /* height: 30px;
    width: 120px; */
    color: white;
    background-color: #E55473;
    border: none;
   padding: 12px 19px;
   border-radius: 10px;
}

/* our featured section */

.our-featured-section, .home-delivery-flower, .instagram-section{
    
    width: 80%;
    margin: auto;
   
    margin-top: 90px;
    
}

.card-text{
    text-align: center;
    line-height: 25px;
}


.card-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
transform: translateY(30px);
   
    
}

.all-card{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
   
}
.card-container{
    
    border-radius: 200px 200px 0 0;
    height: 300px;
    width: 300px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 30px;
    background-color: #a721622d;
   
}


.card-tag{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    
}

.supportNd-delivery{
    display: flex;
    justify-content: space-evenly;
   
    gap: 120px;
 
    text-align: center;
    padding: 50px;

}

.home-delivery-flower{
    /* padding: 50px; */
    background-color: #2727270e;
   
}

/* Hot deal section */

.hot-deal-section{
    margin-top: 60px;
    background-color: rgba(229, 84, 115, 0.05);
}

.hot-deal-container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 10px;
}

.hot-deal-btn{
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #E55473;
    border: none;
    color: white;
    border-radius: 10px;
}

.instagram-photo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.insta-img{
    width: 100%;
}




/* responsive */
/* banner section */

@media screen and (max-width: 576px) {
   .banner{
flex-direction: column;
   } 

   .banner-text{
    font-size: auto;
    margin-left: 5px;
    margin-right: 5px;
   }

   .banner-images{
  width: 80%;
     height: 100%;
   }
   
/* flowers seciton */

.all-card{
    flex-direction: column;

    
}
.card-tag{
    display: none;
   
}
.card-container{
    margin-bottom: 25px;
    width: 75%;
}
.card-text{
    font-size: auto;
}

/* changes section */
.supportNd-delivery{
    flex-direction: column;
    /* text-align: left; */
    padding: 5px;
    gap: 25px;
    width: 100%;
    /* justify-content: none; */
}

.home-delivery-flower{
    padding: 5px;
}

/* hot deal */

.hot-deal-container{
    flex-direction: column;
}
.hot-deal-text{
    text-align: center;
   margin-left: 20px;
   margin-right: 20px;
}
.instagram-photo{
   grid-template-columns: 1fr;
}

}

