*{
    margin: 0;
    padding: 0;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5547327;
}

/* .banner-text{
    line-height-step: 2px;
} */


.banner-text h3{
    font-size: 3.5em;
}

.banner-text p{
    margin-top: 15px;
    font-size:1em;
}

.btn{
    margin-top: 20px;
    /* height: 30px;
    width: 120px; */
    color: white;
    background-color: #E55473;
    border: none;
   padding: 12px 19px;
   border-radius: 10px;
}













/* responsive */
/* banner section */

@media screen and (max-width: 576px) {
   .banner{
flex-direction: column;
   } 

   .banner-text{
    font-size: auto;
    
   }

   .banner-images{
  width: 80%;
     height: 100%;
   }
   
}

